# Model
./model/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
ours_infer_log/
inference_results/
sglang_inference_results/

# debugs
*debug*

# Data
data/train/dataset_cache/
output/
EOF