# Model
./model/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
ours_infer_log/
ours_train_log/
inference_results/
sglang_inference_results/

# debugs
*debug*

# Data
data/*
data/train/dataset_cache/
output/
EOF
data/train/train.jsonl
data/train/train_debug.jsonl
data/train/data.zip

# Hope
lxy_hope/


# liuxin
meteor_inference.sh
meteor_train_lightthinker.sh
lxy_utils/
